Create 3 tuples with order_id, order_date, order_customer_id, order_status.

In [1]:
order1 = (1, '2013-07-25 00:00:00.0', 11599, 'CLOSED')

In [2]:
order2 = (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT')

In [3]:
order3 = (3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE')

In [4]:
type(order1)

tuple

In [6]:
order1.index('CLOSED')

3

Create list of employees. Make sure each item in the list is a tuple.

In [7]:
employees = [
    (1, 'Scott', 'Tiger', 1000.0, 'United States'),
    (2, "Henry", "Ford", 1250.0, "India"),
    (3, "Nick", "Junior", 750.0, "united KINGDOM"),
    (4, "Bill", "Gomes", 1500.0, "AUSTRALIA")
]

In [8]:
type(employees)

list

In [9]:
employees.append((5, 'Donald', 'Duck', 1800.0, 'USA'))

In [10]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'united KINGDOM'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [11]:
employees.insert(3, (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'))

In [12]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'united KINGDOM'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [13]:
employees.pop(3)

(6, 'Mickey', 'Mouse', 2000.0, 'Disney Land')

In [14]:
employees

[(1, 'Scott', 'Tiger', 1000.0, 'United States'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'united KINGDOM'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [20]:
l = [1, 2, 4, 4, 5, 7, 3, 4, 2, 1]

In [16]:
l[:3]

[1, 2, 4]

In [17]:
l[:-5]

[1, 2, 4, 4, 5]

In [18]:
l[-5:]

[7, 3, 4, 2, 1]

In [22]:
l[-6]

5

In [23]:
l[-5:-1]

[7, 3, 4, 2]

In [24]:
l[3:6]

[4, 5, 7]

In [25]:
employees = [(1, "Scott", "Tiger", 1000.0, "united states"),
             (2, "Henry", "Ford", 1250.0, "India"),
             (3, "Nick", "Junior", 750.0, "united KINGDOM"),
             (4, "Bill", "Gomes", 1500.0, "AUSTRALIA")
            ]
employees.append((5, "Donald", "Duck", 1800.0, "USA"))
employees.insert(3, (6, "Mickey", "Mouse", 2000.0, "Disney Land"))

employees

[(1, 'Scott', 'Tiger', 1000.0, 'united states'),
 (2, 'Henry', 'Ford', 1250.0, 'India'),
 (3, 'Nick', 'Junior', 750.0, 'united KINGDOM'),
 (6, 'Mickey', 'Mouse', 2000.0, 'Disney Land'),
 (4, 'Bill', 'Gomes', 1500.0, 'AUSTRALIA'),
 (5, 'Donald', 'Duck', 1800.0, 'USA')]

In [26]:
employees[0]

(1, 'Scott', 'Tiger', 1000.0, 'united states')